@(landlords: List[models.users.Landlord], user: models.users.User, env: play.api.Environment)
@main("Contact", user) {
    <div class="container">
        <form>
      
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">

          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Your email..">
      
          <label for="country">County</label>
          <select id="country" name="country">
            <option value="australia">Dublin</option>
            <option value="canada">Wicklow</option>
            <option value="usa">Kildare</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <div class="actions">
            <input type="submit" value="Submit" class="btn btn-primary">
            <a href="@routes.HomeController.index()">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>

        </form>
      </div>
}