@main("CRUD"){
    <h1>The Database</h1>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <!--Header-->
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Location</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <!--Populating the database-->

                <tr>
                    <td>1</td>
                    <td>Hello</td>
                    <td>123 Sommerville</td>
                    <td>Dublin 24</td>
                    <td>300</td>
                </tr>
            
        </tbody>
    </table>         

    
}