@(houses: List[models.Houses], apartments: List[models.Apartment],  user: models.users.User, env: play.api.Environment)
@main("Database", user) {
    <h1>
        Houses
        @if((user != null) && ("admin".equals(user.getRole()) || "landlord".equals(user.getRole()))) {
            <a href="@routes.HomeController.addHouse()">
                <span style="font-size:9px">(Add New House)</span>
            </a>
        }
    </h1>
    <br>
    <div id="database-list">
        <table style="width:100%">
            @for(house<-houses) {
                <tr>
                    <td>
                        <a href="@routes.HomeController.viewHouse(house.getId)" class="listing">
                        <img src="@house.getThumbnailPath" /> House for &euro;@house.getDisplayValue(house.getPrice)
                    </td>
                        <td class="desc">
                            <i class="fas fa-bed"></i> @house.getNumBeds&nbsp;
                            <i class="fas fa-toilet"></i> @house.getNumBaths&nbsp;
                            <i class="fas fa-leaf"></i> @house.getGardenSize&nbsp;
                            <i class="fas fa-car"></i>&nbsp;
                            @if(house.getGarage) {
                                Yes
                            } else {
                                No
                            }
                            @if((user != null) && ("admin".equals(user.getRole()))) {
                                &nbsp;
                                <a href="@routes.HomeController.updateHouse(house.getId)">Edit</a>
                                &nbsp;
                                <a href="@routes.HomeController.deleteHouse(house.getId)" onclick="return confirmDel();">Delete</a>
                            }
                        </td>
                    </a>
                </tr>
            }
        </table>
    </div>
    <br>
    <h1>Apartments</h1>
    <br>
    <div id="database-list">
        <table style="width:100%">
            @for(apartment<-apartments) {
                <tr>
                    <td>
                        <a href="@routes.HomeController.viewApartment(apartment.getId)" class="listing">
                        <img src="@apartment.getThumbnailPath" /> Apartment for &euro;@apartment.getDisplayValue(apartment.getPrice) per month
                    </td>
                        <td class="desc">
                            <i class="fas fa-bed"></i> @apartment.getNumBeds&nbsp;
                            <i class="fas fa-toilet"></i> @apartment.getNumBaths&nbsp;
                        </td>
                    </a>
                </tr>
            }
        </table>
    </div>
    <br>
}