@(houses: List[models.products.Houses], apartments: List[models.products.Apartment],  user: models.users.User, env: play.api.Environment)
@main("Database", user) {
    <h1>
        Houses
        @if((user != null) && (("admin".equals(user.getRole())) || ("landlord".equals(user.getRole())))) {
            <a href="@routes.HomeController.addHouse()">
                <span style="font-size:20px">(Add New House)</span>
            </a>
        }
    </h1>
    <br>
    <div id="database-list">
        <table style="width:100%">
            @for(house<-houses) {
                <tr>
                    <td>
                        <a href="@routes.HomeController.viewHouse(house.getId)" class="listing">
                        <img src="@house.getThumbnailPath" /> House for &euro;@house.getDisplayValue(house.getPrice)
                    </td>
                        <td class="desc">
                            <i class="fas fa-bed"></i> @house.getNumBeds&nbsp;
                            <i class="fas fa-toilet"></i> @house.getNumBaths&nbsp;
                            <i class="fas fa-leaf"></i> @house.getGardenSize m²&nbsp;
                            <i class="fas fa-car"></i>&nbsp;
                            @if(house.getGarage) {
                                Yes
                            } else {
                                No
                            }
                            <i class="fas fa-leaf"></i>@house.getSold&nbsp;
                            @if((user != null) && ("admin".equals(user.getRole()))) {
                                &nbsp;
                                @if(house.getSold == true) {
                                    <td><a href="@routes.ShoppingCtrl.addToBasket(house.getId)"
                                        class="btn btn-default btn-xs"><span
                                        class="glyphicon glyphicon-shopping-cart"></span></a>
                                    </td>
                                } else {
                                    <td><img src="/assets/images/sold.jpg"/></td>
                                }

                                &nbsp;
                                <a href="@routes.HomeController.updateHouse(house.getId)"><i class="fas fa-edit"></i></a>
                                &nbsp;
                                <a href="@routes.HomeController.deleteHouse(house.getId)" onclick="return confirmDel();"><i class="fas fa-trash"></i></a>
                            }
                        </td>
                    </a>
                </tr>
            }
        </table>
    </div>
    <br>
    <h1>Apartments
        @if((user != null) && ("admin".equals(user.getRole()) || "landlord".equals(user.getRole()))) {
            <a href="@routes.HomeController.addApartment()">
                <span style="font-size:20px">(Add New Apartment)</span>
            </a>
        }
    </h1>
    <br>
    <div id="database-list">
        <table style="width:100%">
            @for(apartment<-apartments) {
                <tr>
                    <td>
                        <a href="@routes.HomeController.viewApartment(apartment.getId)" class="listing">
                        <img src="@apartment.getThumbnailPath" /> Apartment for &euro;@apartment.getDisplayValue(apartment.getPrice) per month
                    </td>
                        <td class="desc">
                            <i class="fas fa-bed"></i> @apartment.getNumBeds&nbsp;
                            <i class="fas fa-toilet"></i> @apartment.getNumBaths&nbsp;
                            @if((user != null) && ("admin".equals(user.getRole()))) {
                                &nbsp;
                                <a href="@routes.HomeController.updateApartment(apartment.getId)"><i class="fas fa-edit"></i></a>
                                &nbsp;
                                <a href="@routes.HomeController.deleteApartment(apartment.getId)" onclick="return confirmDel();"><i class="fas fa-trash"></i></a>
                            }
                        </td>
                    </a>
                </tr>
            }
        </table>
    </div>
    <br>
}