@(recent: List[models.products.Property], user: models.users.User)
@main("Home", user){
		<div class="just">
		<div id="search-form">
			<form action="/searchQuery" method="get">
				<span class="title">Search Properties</span>

				<!--Area<br>
				<select>
					<option value="dublin1">Dublin 1</option>
					<option value="dublin2">Dublin 2</option>
					<option value="dublin3">Dublin 3</option>
					<option value="dublin4">Dublin 4</option>
					<option value="dublin5">Dublin 5</option>
					<option value="dublin6">Dublin 6</option>
					<option value="dublin7">Dublin 7</option>
					<option value="dublin8">Dublin 8</option>
					<option value="dublin9">Dublin 9</option>
					<option value="dublin10">Dublin 10</option>
					<option value="dublin11">Dublin 11</option>
					<option value="dublin12">Dublin 12</option>
					<option value="dublin13">Dublin 13</option>
					<option value="dublin14">Dublin 14</option>
					<option value="dublin15">Dublin 15</option>
					<option value="dublin16">Dublin 16</option>
					<option value="dublin17">Dublin 17</option>
					<option value="dublin18">Dublin 18</option>
					<option value="dublin19">Dublin 19</option>
					<option value="dublin20">Dublin 20</option>
					<option value="dublin21">Dublin 21</option>
					<option value="dublin22">Dublin 22</option>
					<option value="dublin23">Dublin 23</option>
					<option value="dublin24">Dublin 24</option>
				</select>
				<br><br>-->
				Minimum Price<br>
				€ <input type="number" placeholder="Enter minimum price" name="min" min="0" max="1000000000" required/>

				<br><br>
				Maximum Price<br>
				€ <input type="number" placeholder="Enter maximum price" name="max" min="0" max="1000000000" required/>

				<br><br>
				<input type="submit" value="Search" />
			</form>
		</div>
	</div>
	<br>
	<div class="just">
		<h2>Recently Added Houses</h2>
	</div>
	<div class="just">
		<div id="house-list">
			@for(house<-recent) {
				<div class="house-block">

					<a href="@routes.HomeController.viewProperty(house.getId)"><img src="@house.getThumbnailPath()" /></a>
					<div class="desc">
						€@house.getDisplayValue(house.getPrice)
						<br>
						<br>
						<a href="@routes.HomeController.viewProperty(house.getId)">View House</a>
					</div>
				</div>
			}
		</div>
	</div>
	}