@(landlord: models.users.Landlord, pList: List[models.products.Property], user: models.users.User, env: play.api.Environment)
@main("Profile", user) {

<div id ="profile">
<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
            @if((user != null) && (landlord == user)){
            <a href="@routes.HomeController.updateLandlord(user.getEmail)"><i class="fas fa-edit"></i></a>
            }
        <h4>User Profile</h4>
      </div>
      <div class="panel-body">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                @if(env.resource("public/images/projectImages/" + landlord.getEmail + "thumb.jpg").isDefined) {
                    <img src="/assets/images/projectImages/@(landlord.getEmail + "thumb.jpg")"/  id="profile-image1" class="img-circle img-responsive">
                    } else {
                        <img src="avatar.png" alt="Avatar" class="avatar"
                        id="profile-image1" class="img-circle img-responsive">
                    }
          


        </div>
        <div class="col-md-8 col-xs-4">
          <div class="container">
            <h2>@landlord.getFname() @landlord.getLname()</h2>
            <p><b>Landlord</b></p>


          </div>
          <hr>
          <ul class="container details">
            
            <li>
              <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>@landlord.getEmail()</p>
            </li>
          </ul>
          <hr>
          <div class="col-sm-5 col-xs-6 tital ">Date Of Joining: 15 Jun 2016</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<h1>
  Houses
  @if((user != null) && (("admin".equals(user.getRole())) || ("landlord".equals(user.getRole())))) {
      <a href="@routes.HomeController.addProperty()">
          <span style="font-size:20px">(Add New Property)</span>
      </a>
  }
</h1>
<br>
<div id="database-list">
  <table style="width:100%">
      @for(property<-pList) {
        @if(property.getLandlord() == landlord){
          <tr>
              <td>
                  <a href="@routes.HomeController.viewProperty(property.getId)" class="listing">
                  <img src="@property.getThumbnailPath" /> House for &euro;@property.getDisplayValue(property.getPrice)
              </td>
                  <td class="desc">
                      <i class="fas fa-bed"></i> @property.getNumBeds&nbsp;
                      <i class="fas fa-toilet"></i> @property.getNumBaths&nbsp;

                      <i class="fas fa-leaf"></i>@property.getStock&nbsp;
                      @if((user != null) && (landlord == user)) {
                          &nbsp;
                          @if(property.getStock == 0) {
                              <td><a href="@routes.ShoppingCtrl.addToBasket(property.getId)"
                                  class="btn btn-default btn-xs"><span
                                  class="glyphicon glyphicon-shopping-cart"></span></a>
                              </td>
                          } else {
                              <td><img src="/assets/images/sold.jpg"/></td>
                          }

                          &nbsp;
                          <a href="@routes.HomeController.updateProperty(property.getId)"><i class="fas fa-edit"></i></a>
                          &nbsp;
                          <a href="@routes.HomeController.deleteProperty(property.getId)" onclick="return confirmDel();"><i class="fas fa-trash"></i></a>
                      }
                  </td>
              </a>
          </tr>
      }
  </table>
}
}