@(member: models.users.Member, user: models.users.User, env: play.api.Environment)

@import play.api.Play.current
@import models.shopping._
@import models.products._

@main("Member Profile", user) {
   
<div id ="profile">
        <div class="container-fluid">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                  @if((user != null) && (member == user)){
                    <a href="@routes.HomeController.updateMember(user.getEmail)"><i class="fas fa-edit"></i></a>
                    }
        
                
                <h4>User Profile</h4>
              </div>
              <div class="panel-body">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                        @if(env.resource("public/images/projectImages/" + member.getEmail + "thumb.jpg").isDefined) {
                            <img src="/assets/images/projectImages/@(member.getEmail + "thumb.jpg")"/  id="profile-image1" class="img-circle img-responsive">
                            } else {
                                <img src="avatar.png" alt="Avatar" class="avatar"
                                id="profile-image1" class="img-circle img-responsive">
                            }
                  
        
        
                </div>
                <div class="col-md-8 col-xs-4">
                  <div class="container">
                    <h2>@member.getFname() @member.getLname()</h2>
                    <p><b>Member</b></p>
                  </div>
                  <hr>
                  <ul class="container details">
                    
                    <li>
                      <p><i class = "fas fa-envelope"></i> @member.getEmail()</p>
                    </li>
                    <li>
                      <p><i class="fas fa-phone"></i> @member.getPhone()</p>
                    </li>
                  </ul>
                  <hr>
                  <div class="col-sm-5 col-xs-6 tital ">Date Joined: @member.getDateJoined()</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class="row">

          <div class="col-md-12">
            @if(flash.containsKey("success")) {
                <div class="alert alert-success">
                    @flash.get("success")
                </div>
            } 
        
            @if(member.getBasket() != null) {
                <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <!-- The header row-->
                        <tr>
                            
                            <th>Rent</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            @if(member.getBasket() != null) {
                                <!-- Start of For loop - For each p in products add a row -->
                                @for(i <- member.getBasket().getBasketItems()) {
                                <tr>
                                    <td>&euro; @("%.2f".format(i.getProperty.getPrice))</td>
        
                                </tr>
                                }<!-- End of For loop -->
                          }
                        </tbody>
                    </table>
        
            
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-right"><strong> Price of Rent &euro; @("%.2f".format(member.getBasket.getBasketTotal()))</strong></p>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-right">
                            <a href="@routes.ShoppingCtrl.emptyBasket()" class="btn btn-danger btn-sm" onclick="return confirmDel();">
                            <span class="glyphicon glyphicon-trash"></span>Cancel Rent</a>
                        </p>
                    </div>  
                    <div class="col-md-6">
                      <script src="https://checkout.stripe.com/checkout.js"
                      class="stripe-button"
                      data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                      data-name="Deposit"
                      data-description="Deposit (&euro;@member.getBasket.getBasketTotal())"
                      data-amount="@member.convertStripeNum(member.getBasket().getBasketTotal())">
                    </script>
                    </div>  
                </div>
            </div>
        </div>
        
        <script>
          // JavaScript function returns true if user clicks yes, otherwise, false
          function confirmDel() {
            return confirm('Are you sure?');
          }
        </script>
        
      }     
}