@(landList: List[models.users.Landlord], aList: List[models.users.Admin], mList: List[models.users.Member], user: models.users.User, env: play.api.Environment)
@main("Landlord",user) {
<h1>Current LandLords</h1>

<!-- Displays the flash message -->
@if(flash.containsKey("success")) {
<div class="alert alert-success">
    @flash.get("success")
</div>
}

<div class="col-sm-9">
    <h4>Here are all the current LandLords on the system.</h4>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <!-- The header row -->
            <tr>
                <th>Image</th>
                <th>Email</th>
                <th>Role</th>
                <th>Name</th>
                <th>Password</th>
            </tr>
        </thead>

        <tbody>
            <!-- Product row(s) -->

            <!-- Loop for creating rows from the users data -->
            @for(u<-landList) { 
                <tr>

                    @if(env.resource("public/images/projectImages/" + u.getEmail + "thumb.jpg").isDefined) {
                    <td><img src="/assets/images/projectImages/@(u.getEmail + "thumb.jpg")"/></td>
                    } else {
                    <td><img src="/assets/images/projectImages/noImageThumb.jpg"/></td>
                    }

                <td>@u.getEmail</td>
                <td>@u.getRole</td>
                <td>@u.getFname</td>
                <td>@u.getPassword</td>

                @if((user != null) && ("admin".equals(user.getRole()))) {
                    <!-- Delete button -->
                    <td>
                        <a href="@routes.HomeController.deleteLandlord(u.getEmail())" class="button-xs btn-danger" onclick="return confirmDel();">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                
                    <!-- Update button -->
                    <td>
                        <a href="@routes.HomeController.updateLandlord(u.getEmail())" class="button-xs btn-danger">
                            <span class="glyphicon-pencil"></span>
                        </a>
                    </td>
                }

                </tr>
                }
        </tbody>
    </table>
    <p>
        <a href="@routes.HomeController.addLandlord()">
            <button class="btn btn-primary">Add a new Landlord</button>
        </a>
    </p>
</div>


<div class="col-sm-9">
    <h4>Here are all the current Admins on the system.</h4>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <!-- The header row -->
            <tr>
                <th>Image</th>
                <th>Email</th>
                <th>Role</th>
                <th>Name</th>
                <th>Password</th>
            </tr>
        </thead>

        <tbody>
            <!-- Product row(s) -->

            <!-- Loop for creating rows from the users data -->
            @for(u<-aList) { 
                <tr>
                <td>@u.getEmail</td>
                <td>@u.getRole</td>
                <td>@u.getFname</td>
                <td>@u.getPassword</td>

                @if((user != null) && ("admin".equals(user.getRole()))) {
                    <!-- Delete button -->
                    <td>
                        <a href="@routes.HomeController.deleteAdmin(u.getEmail())" class="button-xs btn-danger" onclick="return confirmDel();">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                
                    <!-- Update button -->
                    <td>
                        <a href="@routes.HomeController.updateAdmin(u.getEmail())" class="button-xs btn-danger">
                            <span class="glyphicon-pencil"></span>
                        </a>
                    </td>
                }

                </tr>
                }
        </tbody>
    </table>

    <div class="col-sm-9">
        <h4>Here are all the current Members on the system.</h4>
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <!-- The header row -->
                <tr>
                    <th>Image</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Password</th>
                </tr>
            </thead>
    
            <tbody>
                <!-- Product row(s) -->
    
                <!-- Loop for creating rows from the users data -->
                @for(u<-mList) { 
                    <tr>
                    <td>@u.getEmail</td>
                    <td>@u.getRole</td>
                    <td>@u.getFname</td>
                    <td>@u.getPassword</td>
    
                    @if((user != null) && ("admin".equals(user.getRole()))) {
                        <!-- Delete button -->
                        <td>
                            <a href="@routes.HomeController.deleteMember(u.getEmail())" class="button-xs btn-danger" onclick="return confirmDel();">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    
                        <!-- Update button -->
                        <td>
                            <a href="@routes.HomeController.updateMember(u.getEmail())" class="button-xs btn-danger">
                                <span class="glyphicon-pencil"></span>
                            </a>
                        </td>
                    }
    
                    </tr>
                    }
            </tbody>
        </table>





}