@(house: models.products.Houses, user: models.users.User)
@main("View Property", user) {
	<div id="house-desc">
		<img class="house-thumbnail" src="@house.getImagePath" />
		<div id="description">House</div>
		<table>
			<tr>
				<th>
					<span class="icon"><i class="fas fa-bed"></i> Bedrooms</span>
					@house.getNumBeds
				</th>
				<th>
					<span class="icon"><i class="fas fa-toilet"></i> Bathrooms</span>
					@house.getNumBaths
				</th>
			</tr>
			<tr>
				<th>
					<span class="icon"><i class="fas fa-leaf"></i> Garden Size</span>
					@house.getGardenSize m²
				</th>
				<th>
					<span class="icon"><i class="fas fa-car"></i> Garage</span>
					@if(house.getGarage) {
						Yes
					} else {
						No
					}
				</th>
			</tr>
		</table>
		<div id="price">
			<div id="title">Price</div>
			&euro;@house.getDisplayValue(house.getPrice)<p>(deposit: <strong>€@house.getDepositValue</strong>)</p>
			<br>
			@if((user !=null) &&("member".equals(user.getRole()))){
			<script
			  src="https://checkout.stripe.com/checkout.js"
			  class="stripe-button"
			  data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
			  data-name="Deposit"
			  data-description="Deposit (&euro;@house.getDepositValue)"
			  data-amount="@house.convertStripeNum(house.getDepositValue)"
			</script>
			}
		</div>
	</div>
}